Client/Client/Web References/localhost/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:36395/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:36395/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:36395/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_reset_InputMessage">
    <wsdl:part name="parameters" element="tns:reset" />
  </wsdl:message>
  <wsdl:message name="IService1_reset_OutputMessage">
    <wsdl:part name="parameters" element="tns:resetResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_reseta_InputMessage">
    <wsdl:part name="parameters" element="tns:reseta" />
  </wsdl:message>
  <wsdl:message name="IService1_reseta_OutputMessage">
    <wsdl:part name="parameters" element="tns:resetaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_resetd_InputMessage">
    <wsdl:part name="parameters" element="tns:resetd" />
  </wsdl:message>
  <wsdl:message name="IService1_resetd_OutputMessage">
    <wsdl:part name="parameters" element="tns:resetdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_registera_InputMessage">
    <wsdl:part name="parameters" element="tns:registera" />
  </wsdl:message>
  <wsdl:message name="IService1_registera_OutputMessage">
    <wsdl:part name="parameters" element="tns:registeraResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_registerp_InputMessage">
    <wsdl:part name="parameters" element="tns:registerp" />
  </wsdl:message>
  <wsdl:message name="IService1_registerp_OutputMessage">
    <wsdl:part name="parameters" element="tns:registerpResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_registerd_InputMessage">
    <wsdl:part name="parameters" element="tns:registerd" />
  </wsdl:message>
  <wsdl:message name="IService1_registerd_OutputMessage">
    <wsdl:part name="parameters" element="tns:registerdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_logina_InputMessage">
    <wsdl:part name="parameters" element="tns:logina" />
  </wsdl:message>
  <wsdl:message name="IService1_logina_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_loginp_InputMessage">
    <wsdl:part name="parameters" element="tns:loginp" />
  </wsdl:message>
  <wsdl:message name="IService1_loginp_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginpResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_logind_InputMessage">
    <wsdl:part name="parameters" element="tns:logind" />
  </wsdl:message>
  <wsdl:message name="IService1_logind_OutputMessage">
    <wsdl:part name="parameters" element="tns:logindResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_search_InputMessage">
    <wsdl:part name="parameters" element="tns:search" />
  </wsdl:message>
  <wsdl:message name="IService1_search_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_timings_InputMessage">
    <wsdl:part name="parameters" element="tns:timings" />
  </wsdl:message>
  <wsdl:message name="IService1_timings_OutputMessage">
    <wsdl:part name="parameters" element="tns:timingsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_show_InputMessage">
    <wsdl:part name="parameters" element="tns:show" />
  </wsdl:message>
  <wsdl:message name="IService1_show_OutputMessage">
    <wsdl:part name="parameters" element="tns:showResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="reset">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/reset" message="tns:IService1_reset_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/resetResponse" message="tns:IService1_reset_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="reseta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/reseta" message="tns:IService1_reseta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/resetaResponse" message="tns:IService1_reseta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="resetd">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/resetd" message="tns:IService1_resetd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/resetdResponse" message="tns:IService1_resetd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registera">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/registera" message="tns:IService1_registera_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/registeraResponse" message="tns:IService1_registera_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registerp">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/registerp" message="tns:IService1_registerp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/registerpResponse" message="tns:IService1_registerp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registerd">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/registerd" message="tns:IService1_registerd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/registerdResponse" message="tns:IService1_registerd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="logina">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/logina" message="tns:IService1_logina_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/loginaResponse" message="tns:IService1_logina_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="loginp">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/loginp" message="tns:IService1_loginp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/loginpResponse" message="tns:IService1_loginp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="logind">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/logind" message="tns:IService1_logind_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/logindResponse" message="tns:IService1_logind_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="search">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/search" message="tns:IService1_search_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/searchResponse" message="tns:IService1_search_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="timings">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/timings" message="tns:IService1_timings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/timingsResponse" message="tns:IService1_timings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="show">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/show" message="tns:IService1_show_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/showResponse" message="tns:IService1_show_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reset">
      <soap:operation soapAction="http://tempuri.org/IService1/reset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reseta">
      <soap:operation soapAction="http://tempuri.org/IService1/reseta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resetd">
      <soap:operation soapAction="http://tempuri.org/IService1/resetd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registera">
      <soap:operation soapAction="http://tempuri.org/IService1/registera" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerp">
      <soap:operation soapAction="http://tempuri.org/IService1/registerp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerd">
      <soap:operation soapAction="http://tempuri.org/IService1/registerd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logina">
      <soap:operation soapAction="http://tempuri.org/IService1/logina" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginp">
      <soap:operation soapAction="http://tempuri.org/IService1/loginp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logind">
      <soap:operation soapAction="http://tempuri.org/IService1/logind" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search">
      <soap:operation soapAction="http://tempuri.org/IService1/search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="timings">
      <soap:operation soapAction="http://tempuri.org/IService1/timings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="show">
      <soap:operation soapAction="http://tempuri.org/IService1/show" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:36395/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>