Client/Client/Web References/localhost/Service10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService3" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfDoctorUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DoctorUser" nillable="true" type="tns:DoctorUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDoctorUser" nillable="true" type="tns:ArrayOfDoctorUser" />
  <xs:complexType name="DoctorUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Day1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Department1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DoctorCNIC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Doctorname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hospitalname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time1" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DoctorUser" nillable="true" type="tns:DoctorUser" />
  <xs:complexType name="ArrayOfPatientUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PatientUser" nillable="true" type="tns:PatientUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatientUser" nillable="true" type="tns:ArrayOfPatientUser" />
  <xs:complexType name="PatientUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Disease1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Medicines1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientCNIC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Patientname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientUser" nillable="true" type="tns:PatientUser" />
</xs:schema>